Class3_160926.zip filter=lfs diff=lfs merge=lfs -text
Class2_150926.zip filter=lfs diff=lfs merge=lfs -text
Class4_170926.zip filter=lfs diff=lfs merge=lfs -text
Class6_220926.zip filter=lfs diff=lfs merge=lfs -text
